{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
  <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <div class="panel panel-primary signup">
      <div class="panel-heading">
          <h3 class="signup_title">회원가입</h3>
          <p>새로운 동네 친구들을 만나보세요.</p>
      </div>
      <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% crispy form %}
          <button class="btn btn-primary" type="submit">회원 가입 신청</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
