{% load pipeline %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <meta charset="uft-8">
  <title>{% block title %}{% endblock %} | Noreeter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  {% stylesheet 'vendor' %}
  {% stylesheet 'main' %}
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
</head>
<body>
  {% include "partials/header.html" %}

  <main id="main">
    {% block main %}
    {% endblock %}
  </main>

  {% include "partials/footer.html" %}
  {% javascript 'vendor' %}
  {% javascript 'main' %}
</body>
</html>
