{% extends "base.html" %}

{% block main %}
<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"> 
          <h2>{{ activity.title }}</h2>
        {% for category in activity.category_set.all %}
        <p>{{ category }} </p>
        {% endfor %}
      </div>
      <div class="panel-body">
        <img class="detail_image" src="{{ activity.image.url }}" />
        <p class="detail_content">{{ activity.content }}</p>
      </div>

      <!-- List group -->
      <ul class="list-group">
          <li class="list-group-item">
            <p>모임시각: {{ activity.due_datetime }}</p>
          </li>
          {% if activity.host != request.user %}
            {% if not activity.is_full %}
              <li class="list-group-item">
              <button id="participate-button" class="btn btn-primary" data-toggle="modal" data-target="#complete-modal">참여하기</button>
              </li>
            {% else %}
              <li class="list-group-item">
              <button id="closed-button" class="btn btn-primary" disabled>마감</button>
              </li>
            {% endif %}
          {% endif %}
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h5>전체 댓글 ({{ activity.comment_set.count }})</h5>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
          {% for comment in activity.comment_set.all %}
            <tr>
              <td class="comment_table_data comment_user">{{ comment.user.username }}</td>
              <td class="comment_table_data comment_content">{{ comment.content }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <form action="{% url "activity-comment" activity.id %}" method="post" />
          {% csrf_token %}
          <input class="input_comment" type="text" name="content" required />
          <button class="btn btn-primary btn-sm" type="submit">댓글 쓰기</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="complete-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">모임 참여 상태</h4>
      </div>
      <div class="modal-body">
        <p>참여가 완료되었습니다!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
