@import "partials/header"
@import "partials/footer"

@import "features/carousel"


#main
    padding-top: 70px

.thumbnail
    border-radius: 0
    img
        width: 100%


@media all and ( max-width: 749px )
    .greetings p
        display: none

@media all and (min-width: 750px)
    .greetings p
        display: inline-block
