.navbar
    border-bottom: 1px solid #aaa
    background: #fff
    box-shadow: 0 3px 3px #ccc

.greetings
    p
        margin: 0
        padding: 15px
        color: #666
    &.greeting_off
        display: none

footer
    background: #333
    color: #fff

#main
    padding-top: 50px


@media all and ( max-width: 749px )
    .greetings p
        display: none

@media all and (min-width: 750px)
    .greetings p
        display: inline-block
