@import "partials/header"
@import "partials/footer"

@import "features/carousel"
@import "features/common"


#main
    padding-top: 70px

.thumbnail
    position: relative
    border-radius: 0
    box-shadow: 0 1px 2px #ccc
    img
        width: 100%

    .thumbnail_profile_image
        position: absolute
        right: 20px
        bottom: 123px
        width: 60px
        height: 60px
        border: 2px solid #fff
            radius: 50%

.detail_image
    width: 100%

.detail_content
    margin: 10px 0 10px 0
    padding: 10px 0 10px 0
    border-top: 1px solid #eee
    white-space: pre
    

.panel-heading
    position: relative

.media-body
    padding-left: 10px
    border-left: 2px solid #ccc

.activity_detail_title
    display: inline-block
    margin-bottom: 18px

.activity_detail_category
    position: absolute
    right: 15px
    display: inline
    margin-bottom: 6px
    color: #777

.activity_detail_max_num_of_participant
    margin-bottom: 0
    color: #aaa

.detail_profile_image
    width: auto
    height: 77px

.table
    td.comment_table_data
        border:
            top: none
            bottom: 1px dashed #ddd

    td.comment_user
        width: 20%
    td.comment_content
        width: 80%

.input_comment
    width: 80%

.list-group-item::after
    clear: both
    display: block
    content: ''

#id_result
    width: 100% 

#participants
    position: absolute
    z-index: 10
    display: none
    bottom: 100%
    padding: 10px
    width: 80px
    background: #444
    color: #fff
    border-radius: 3px

#participants_list
    vertical-align: -12px
    position: relative
    display: inline-block
    padding-left: 5px
    text-decoration: none
    &:hover
        text-decoration: none
        #participants
            display: block

#current_participants
    display: inline
    padding-left: 5px
    vertical-align: -12px
    color: #ccc

#participate-button
    float: right

@media all and ( max-width: 749px )
    .greetings p
        display: none

@media all and (min-width: 750px)
    .greetings p
        display: inline-block
