<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">노리터</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url "activities" %}">활동 목록</a></li>
        <li><a href="{% url "create-activity" %}">활동 등록</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li class="greetings"><p>Welcome, {{ request.user.username }}!!</p></li>
          <li><a href="{% url "logout" %}">로그아웃</a></li>
          <li><a href="{% url "profile" request.user.username %}">프로필</a></li>
        {% else %}
          <li><a href="{% url "login" %}">로그인</a></li>
          <li><a href="{% url "signup" %}">회원가입</a></li>
        {% endif %}
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
